<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Marissa's Admin Dashboard</h1>
          <h4>For Schedule With ID:  <%= id %></h2>
          <h5>Link to Scheduling Page:</h5>
          <a href="http://<%= host + schedule.schedulingPageUrl %>">http://<%= host %><%= schedule.schedulingPageUrl %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Create New Time Slot</h3>
          <div class="form-group">
            <label for="start">Start Time</label><br>
            <input type="text" class="form-control" id="start" name="start"><br>
            <label for="end">End Time</label><br>
            <input type="text" class="form-control" id="end" name="end"><br>
            <label for="date">Date</label><br>
            <input type="text" class="form-control" id="date" name="date">
            <label for="comments">Comments</label><br>
            <input type="text" class="form-control" id="comments" name="comments">
            <input type="hidden" id="schedule-id" name="schedule-id" value="<%= id %>">
          </div>
          <button type="submit" class="btn btn-default" id="submit">Create</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8" id="slots">
          <h3>Slots:</h3>
        </div>
      </div>
    </div>
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
